/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.5;
  color: #fff;
  background-color: #191919;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 15px;
}

.none {
  display: none !important;
}

.active {
  color: #118da8;
}

.visually-hidden {
  /* Contain text within 1px box */
  height: 1px;
  overflow: hidden;
  width: 1px;
  /* Keep the layout */
  position: absolute;
  /* Remove any visible trace (e.g. backround color) */
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1p, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%); /* browers in the future */
  /* Prevent the screen reader to skip spaces beetwen words */
  white-space: nowrap;
}

.header {
  padding: 46px 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.nav__list a:not(.active) {
  color: #fff;
}
.nav__list a:hover {
  color: #118da8;
  transition: color 0.2s ease-in;
}

.nav__toggle {
  display: none;
}

.menu-icon-wrapper {
  --time: 0.1s;
  --width: 40px;
  --height: 30px;
  --line-height: 4px;
  --color: #fff;
  height: var(--height);
  width: var(--width);
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
}

.menu-icon::before,
.menu-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
}

.menu-icon::before {
  top: calc(var(--line-height) * -2);
}

.menu-icon::after {
  top: calc(var(--line-height) * 2);
}

.menu-icon.menu-icon--active {
  background-color: transparent;
}

.menu-icon.menu-icon--active::before,
.menu-icon.menu-icon--active::after {
  top: 0;
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
}

.menu-icon.menu-icon--active::before {
  transform: rotate(45deg);
}

.menu-icon.menu-icon--active::after {
  transform: rotate(-45deg);
}

.preview {
  padding: 40px 0;
}

.preview__row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview__img {
  position: relative;
}
.preview__img img {
  width: 650px;
  height: auto;
  border-radius: 16px;
}
.preview__img::before {
  content: "";
  position: absolute;
  top: -27px;
  left: -27px;
  width: 68px;
  height: 74px;
  background-image: url("./../../img/elements/preview-el-01.png");
}

.preview__description {
  padding: 131px 60px;
}

.preview__text {
  position: relative;
  margin-bottom: 90px;
  max-width: 530px;
  font-size: 70px;
  line-height: 1.257;
  letter-spacing: 3.2px;
}
.preview__text span {
  font-size: 80px;
  font-weight: 700;
}
.preview__text p + p {
  margin-top: 0.5em;
}
.preview__text::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -94px;
  width: 144px;
  height: 104px;
  background-image: url("./../../img/elements/preview-el-02.png");
  background-repeat: no-repeat;
}

.preview__socials-text {
  margin-bottom: 16px;
  font-size: 15px;
  line-height: 1.6;
}

.preview__socials-list {
  display: flex;
  -moz-column-gap: 17px;
       column-gap: 17px;
}

.episodes {
  padding: 93px 0 100px;
}

.episodes__top {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.episodes__title {
  font-size: 64px;
  line-height: 1.237;
  letter-spacing: 2.88px;
}

.episodes__item {
  margin-bottom: 60px;
  padding: 40px;
  border-radius: 32px;
  background-color: #000;
}

.episodes__item-row {
  display: flex;
  -moz-column-gap: 53px;
       column-gap: 53px;
}

.episodes__item-img {
  max-width: 389px;
  height: auto;
}

.episodes__item-desc {
  max-width: 778px;
}
.episodes__item-desc > p {
  margin-bottom: 17.56px;
  font-size: 17px;
  line-height: 1.588;
}

.episodes__item-plate {
  margin-bottom: 48.44px;
  padding: 0 6px;
  display: inline-block;
  border-radius: 6px;
  font-size: 18px;
  background-color: #191919;
}

.episodes__item-title {
  margin-bottom: 28px;
  max-width: 701px;
  font-size: 64px;
  line-height: 1.1;
  letter-spacing: 2.56px;
}

.episodes__item-text {
  margin-bottom: 18px;
  opacity: 0.7;
}
.episodes__item-text p + p {
  margin-top: 0.5em;
}

.about {
  padding: 100px 0;
}

.about__row {
  display: flex;
  align-items: center;
  -moz-column-gap: 94px;
       column-gap: 94px;
}

.about__desc {
  max-width: 590px;
}

.about__title {
  margin-bottom: 28px;
  font-size: 65px;
  line-height: 1.218;
  letter-spacing: 2.88px;
}

.about__text {
  font-size: 22px;
}
.about__text p + p {
  margin-top: 1.5em;
}

.about__img img {
  max-width: 100%;
  border-radius: 12px;
}

.cta {
  padding: 100px 0;
}

.cta__row {
  position: relative;
  padding: 60px;
  min-height: 387px;
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 76px;
       column-gap: 76px;
  border-radius: 32px;
  background-color: #000;
}
.cta__row::before {
  content: "";
  position: absolute;
  left: -40px;
  bottom: -25px;
  width: 147px;
  height: 91px;
  background-image: url("./../../img/elements/cta-el-01.png");
}

.cta__desc {
  max-width: 431px;
}

.cta__title {
  font-size: 72px;
  line-height: 1.1;
  letter-spacing: 2.88px;
}

.cta__form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.cta__form-input {
  width: 522px;
  height: 82px;
  padding: 26px 19px;
  border-radius: 6px;
  background-color: #191919;
}

.cta__form-button {
  width: 87px;
  height: 48px;
  padding: 9px 15px 10px 19px;
  border-radius: 6px;
  opacity: 0.7;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.92;
  background-color: #118da8;
  transition: all 0.2s ease-in;
}
.cta__form-button:hover {
  color: #191919;
}
.cta__form-button:active {
  position: relative;
  top: 1px;
}

.opinions {
  padding: 100px 0;
}

.opinions__row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.opinions__item {
  padding: 55px 60px 51px 50px;
  max-width: 423px;
  max-height: 364px;
  border-radius: 32px;
  background-color: #000;
}

.opinions__item-rating {
  margin-bottom: 21px;
}

.opinions__item-comment {
  margin-bottom: 19px;
  font-size: 36px;
  line-height: 1.107;
}
.opinions__item-comment p + p {
  margin-top: 0.5em;
}

.opinions__item-client {
  opacity: 0.7;
  font-size: 24px;
  line-height: 1.2;
}

.footer {
  padding: 100px 0;
}

.footer__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  -moz-column-gap: 16px;
       column-gap: 16px;
}

.footer__logo .logo {
  margin-bottom: 20px;
}

.footer__logo-socials {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.footer__list {
  font-size: 17px;
  line-height: 1.588;
}
.footer__list li {
  margin-bottom: 10px;
}
.footer__list li a {
  color: #fff;
}

.footer__socials {
  display: flex;
  -moz-column-gap: 17px;
       column-gap: 17px;
}

.btn {
  display: inline-block;
  padding: 12px 20px;
  border-radius: 12px;
  font-size: 17px;
  line-height: 1.588;
  color: #fff;
  background-color: #118da8;
  transition: all 0.2s ease-in;
}
.btn:hover {
  color: #191919;
}
.btn:active {
  position: relative;
  top: 1px;
}

.circle__btn {
  margin-bottom: 20px;
  padding: 34px 24px 40px 17px;
  width: 112px;
  height: 112px;
  border-radius: 50%;
  background-color: #118da8;
}
.circle__btn:active {
  position: relative;
  top: 1px;
}

@media screen and (max-width: 1280px) {
  /* PREVIEW */
  .preview__img img {
    max-width: 300px;
    height: auto;
  }
  .preview__img::before {
    display: none;
  }
  .preview__text {
    margin-bottom: 40px;
    max-width: 300px;
    font-size: 40px;
  }
  .preview__text span {
    font-size: 45px;
  }
  .preview__text::before {
    display: none;
  }
  /* EPISODES */
  .episodes__top {
    margin-bottom: 25px;
  }
  .episodes__title {
    font-size: 34px;
  }
  .episodes__item-row {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
  .episodes__item-plate {
    margin-bottom: 20px;
  }
  .episodes__item-desc {
    max-width: 500px;
  }
  .episodes__item-title {
    margin-bottom: 25px;
    max-width: 400px;
    font-size: 30px;
  }
  .episodes__item-text {
    font-size: 15px;
  }
  /* CTA */
  .cta__row {
    min-height: unset;
    align-items: center;
  }
  .cta__row::before {
    display: none;
  }
  .cta__text {
    margin-bottom: 18px;
    font-size: 18px;
  }
  .cta__title {
    font-size: 40px;
  }
  .cta__form-input {
    padding: 18px 12px;
    font-size: 18px;
  }
  /* OPINIONS */
  .opinions__item-rating {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 1060px) {
  .opinions__row {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }
  .opinions__item-comment {
    margin-bottom: 16px;
    font-size: 24px;
  }
}
@media screen and (max-width: 900px) {
  /* EPISODES */
  .episodes__item-plate {
    font-size: 14px;
  }
  .episodes__item-desc {
    max-width: 300px;
  }
  /* BTN */
  .btn {
    padding: 8px 14px;
    border-radius: 8px;
    font-size: 15px;
  }
  /* CTA */
  .cta__row {
    flex-direction: column;
    gap: 20px;
  }
  .cta__text {
    margin-bottom: 8px;
  }
  .cta__form-input {
    height: unset;
  }
  /* OPINIONS */
  .opinions {
    padding: 50px 0;
  }
}
@media screen and (max-width: 800px) {
  /* NAV */
  .nav__toggle {
    display: block;
  }
  .nav__list {
    display: none;
  }
  .nav--mobile {
    flex-direction: column;
    gap: 20px;
  }
  .nav--mobile .nav__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .nav--mobile .nav__toggle {
    position: absolute;
    top: 50px;
    right: 50px;
  }
  /* PREVIEW */
  .preview {
    padding: 0;
  }
  .preview__text {
    margin-bottom: 20px;
    max-width: 300px;
    font-size: 25px;
  }
  .preview__text span {
    font-size: 30px;
  }
  .preview__description {
    padding: 131px 30px;
  }
  /* EPISODES */
  .episodes {
    padding: 40px 0;
  }
  .episodes__item-row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  /* ABOUT */
  .about {
    padding: 50px 0;
  }
  .about__row {
    flex-direction: column;
    gap: 40px;
  }
  .about__img img {
    max-width: 100%;
  }
  .about__text {
    font-size: 16px;
  }
  .about__text p + p {
    margin-top: 0.7em;
  }
  .about__refer {
    font-size: 14px;
  }
  .about__title {
    margin-bottom: 18px;
    font-size: 30px;
  }
  /* CTA */
  .cta {
    padding: 50px 0;
  }
  /* OPINIONS */
  .opinions__item {
    padding: 30px;
    border-radius: 20px;
  }
  .opinions__item-comment {
    margin-bottom: 10px;
    font-size: 18px;
  }
  .opinions__item-client {
    font-size: 16px;
  }
}
@media screen and (max-width: 700px) {
  /* PREVIEW */
  .preview__row {
    flex-direction: column;
  }
  .preview__description {
    padding: 40px 30px;
  }
  /* EPISODES */
  .episodes__item {
    margin-bottom: 30px;
  }
  .episodes__top {
    flex-direction: column;
    gap: 20px;
  }
  /* CTA */
  .cta__row {
    padding: 30px;
    border-radius: 20px;
  }
  .cta__text {
    font-size: 14px;
  }
  .cta__title {
    margin-bottom: 10px;
    font-size: 28px;
  }
  .cta__form {
    width: 100%;
  }
  .cta__form-input {
    width: 100%;
  }
}
@media screen and (max-width: 550px) {
  /* ABOUT */
  .about__row {
    gap: 20px;
  }
  /* FOOTER */
  .footer {
    padding: 50px 0;
  }
}
@media screen and (max-width: 420px) {
  /* NAV */
  .nav {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
  }
  /* PREVIEW */
  .preview__description {
    padding: 40px 0;
  }
  .preview__text {
    margin-bottom: 10px;
    max-width: 300px;
    font-size: 20px;
  }
  .preview__text span {
    font-size: 23px;
  }
  /* EPISODES */
  .episodes__item-plate {
    margin-bottom: 14px;
  }
  .episodes__item-title {
    margin-bottom: 20px;
    font-size: 20px;
  }
  .episodes__item-text {
    font-size: 12px;
  }
  /* CTA */
  .cta__text {
    margin-bottom: 16px;
    font-size: 14px;
  }
  .cta__title {
    font-size: 20px;
  }
  .cta__form-input {
    font-size: 14px;
  }
}/*# sourceMappingURL=main.css.map */